body {
	color: #333;
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 26px;
	background: url('../img/bgnoise.png');
}
ul li {
	list-style: none;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	font-weight: normal;
}

h3 {
	font-size: 18px;
}

h2 {
	font-size: 24px;
}

/*
** Buttons, Inputs, Form related elements
*/

input[type="submit"] {
	margin-top: -1px;
}

label {
    display: block;
    font-size: 18px;
    margin-left: 2px;
    margin-bottom: 6px;
}

.button, .button-front {
	text-decoration: none;
	color: white;
	padding: 8px 20px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 4px;
	text-shadow: 0 1px 1px #666;
	
	background-image: linear-gradient(bottom, #769E28 40%, #98C73D 85%);
	background-image: -o-linear-gradient(bottom, #769E28 40%, #98C73D 85%);
	background-image: -moz-linear-gradient(bottom, #769E28 40%, #98C73D 85%);
	background-image: -webkit-linear-gradient(bottom, #769E28 40%, #98C73D 85%);
	background-image: -ms-linear-gradient(bottom, #769E28 40%, #98C73D 85%);

	border: 1px solid #769E28;
	border-top-color: #769E28;
	border-bottom-color: #618221;
	cursor: pointer;
}

.button-medium, .button-medium-blue {
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 3px;
	text-shadow: 0 1px 1px #666;
	
	background-image: linear-gradient(bottom, #769E28 40%, #98C73D 85%);
	background-image: -o-linear-gradient(bottom, #769E28 40%, #98C73D 85%);
	background-image: -moz-linear-gradient(bottom, #769E28 40%, #98C73D 85%);
	background-image: -webkit-linear-gradient(bottom, #769E28 40%, #98C73D 85%);
	background-image: -ms-linear-gradient(bottom, #769E28 40%, #98C73D 85%);

	border: 1px solid #769E28;
	border-top-color: #769E28;
	border-bottom-color: #618221;
	cursor: pointer;
}

.button-medium-blue {
	background-image: linear-gradient(bottom, #1B70E0 40%, #4E95F2 85%);
	background-image: -o-linear-gradient(bottom, #1B70E0 40%, #4E95F2 85%);
	background-image: -moz-linear-gradient(bottom, #1B70E0 40%, #4E95F2 85%);
	background-image: -webkit-linear-gradient(bottom, #1B70E0 40%, #4E95F2 85%);
	background-image: -ms-linear-gradient(bottom, #1B70E0 40%, #4E95F2 85%);

	border: 1px solid #1B70E0;
	border-top-color: #1B70E0;
	border-bottom-color: #1262CC;
}

.button-front {
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.button:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.following {
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 3px;
	text-shadow: 0 1px 1px #666;
	
	background-image: linear-gradient(bottom, #769E28 40%, #98C73D 85%);
	background-image: -o-linear-gradient(bottom, #769E28 40%, #98C73D 85%);
	background-image: -moz-linear-gradient(bottom, #769E28 40%, #98C73D 85%);
	background-image: -webkit-linear-gradient(bottom, #769E28 40%, #98C73D 85%);
	background-image: -ms-linear-gradient(bottom, #769E28 40%, #98C73D 85%);

	border: 1px solid #769E28;
	border-top-color: #769E28;
	border-bottom-color: #618221;
}

.notfollowing {
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 3px;
	text-shadow: 0 1px 1px #666;

	background-image: linear-gradient(bottom, #1B70E0 40%, #4E95F2 85%);
	background-image: -o-linear-gradient(bottom, #1B70E0 40%, #4E95F2 85%);
	background-image: -moz-linear-gradient(bottom, #1B70E0 40%, #4E95F2 85%);
	background-image: -webkit-linear-gradient(bottom, #1B70E0 40%, #4E95F2 85%);
	background-image: -ms-linear-gradient(bottom, #1B70E0 40%, #4E95F2 85%);

	border: 1px solid #1B70E0;
	border-top-color: #1B70E0;
	border-bottom-color: #1262CC;
	cursor: pointer;
}

.input {
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 400px;
    margin-bottom: 15px;
    font-family: 'Open Sans';
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
}

.input-medium {
	padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 400px;
    height: 28px;
    margin-bottom: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

/*
** Frontpage
*/

#background-holder {
	background: url('../img/bg3.jpg');
	background-size: cover;
	position: absolute; top: 0px; bottom: 0px;
	width: 100%;
	height: 100%;
}

#container-frontpage {
	width: 820px;
	margin: 60px auto;
	color: #fff;
}

#navigation-frontpage {
	margin-bottom: 80px;
}

#navigation-frontpage a {
	text-decoration: none;
	border-bottom: 1px dotted #fff;
	color: #fff;
	font-size: 18px;
	margin-left: 20px;
}

#message h2 {
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 42px;
	text-shadow: 0 1px 1px #000;
	letter-spacing: -2px;
	padding: 20px 16px;
	width: 375px;
	margin-bottom: 10px;
}

#message p {
	font-size: 24px;
	background-color: rgba(0, 0, 0, 0.6);
	text-shadow: 0 1px 1px #000;
	letter-spacing: -1px;
	padding: 12px 16px;
	width: 545px;
	margin-bottom: 60px;
}

/*
** Sign up, in
*/

#signup, #signin {
	padding-top: 20px;
}

#navigation {
	background: #111;
	margin-bottom: 30px;
}

#navigation-inner {
	padding: 24px 0;
}

#navigation a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
	margin-left: 20px;
}

#signup p, #signin p {
	margin-bottom: 20px;
}

/*
** User
*/

#sidebar {
	width: 360px;
	float: left;
	margin-right: 40px;
}

#posts {
	width: 560px;
	float: left;
}

#user {
	width: 360px;
	height: 100px;
	background: #fff;
	border-radius: 3px;	
	margin-bottom: 20px;
	box-shadow: 0px 1px 0px #ccc;
}

#user h2 {
	margin-bottom: 20px;
}

#user .username {
	margin-left: 18px;
	margin-top: 10px;
}

#avatar {
	border-radius: 3px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	width: 100px;
	height: 100px;
}

.widget {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 1px 0px #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

#upload h3 {
	margin-bottom: 10px;
}

#upload-input {
	display: none;
}

#caption {
	display: none;
	margin-top: 5px;
	margin-bottom: 0;
	width: 330px;
}

.post {
	margin-bottom: 30px;
	float: left;
	width: 560px;
}

.post-title {
	margin-bottom: 20px;
}

.image-holder {
	background: #fff;
	height: 100%;
}

.post img {
	padding: 0;
	float: left;
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.post .meta {
	background: #fff;
	color: #555;
	margin: 0;
	padding: 10px 20px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0px 1px 0px #ccc;
}

#comments-form {
	width: 560px;
}
#comments textarea {
	width: 540px;
}
	#author {
		width: 400px;
		float: left;
	}
		.avatar {
			border-radius: 3px;
			width: 40px;
			height: 40px;
			vertical-align: middle;
		}
		.username {
			font-size: 16px;
			margin-left: 10px;
		}
	#comment-button {
		float: right;
	}

	.comment {
		margin-top: 30px;
		padding-top: 20px;
		border-top: 1px solid #ddd;
	}
		.author {
			margin-bottom: 10px;
		}
			.user {
				width: 280px;
				float: left;
				font-weight: bold;
			}
			.date {
				width: 280px;
				float: right;
				text-align: right;
			}

		/* comment */
		.avatar {
			width: 60px;
			height: 60px;
			float: left;
			vertical-align: top;
		}
		.text {
			width: 480px;
			float: right;
		}
/*
** Common elements
*/

#logo {
	font-family: 'Arvo', arial, helvetica, sans-serif;
	font-size: 38px;
	color: #fff;
	text-shadow: 0 1px 1px #000;
	letter-spacing: -4px;
	width: 200px;
	float: left;
}

#logo a {
	border: none; 
	margin-left: 0;
}

#container {
	width: 960px;
	margin: 0 auto;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.notification {
	background: #ffa;
	border-radius: 4px;
	padding: 10px 20px;
	margin-bottom: 20px;
}

.error {
	color: #fff;
	background: #FC3838;
	border-radius: 4px;
	padding: 10px 20px;
	margin-bottom: 20px;
}

.info {
	background: #D5E3F5;
	border-radius: 4px;
	padding: 10px 20px;
	margin-bottom: 20px;
}

#footer {
	height: 100px;
	width: 100%;
	color: #bbb;
	margin-top: 50px;
}

#logo-bottom {
	font-family: 'Arvo', arial, helvetica, sans-serif;
	font-size: 38px;
	letter-spacing: -4px;
}